/* header */
* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.banner {
    background-image: url("../images/banner/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 940px;
    display: flex;
}

/* .bg-image {
    width: 100%;
} */

.title {
    /* display: block; */
    width: 525px;
    /* vertical-align: middle; */
    padding-left: 1100px;
    padding-top: 300px;


}

.all-thinks {
    margin-bottom: 24;
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
}

.title-description {
    text-align: right;
    margin-bottom: 32px;
}

.btn-primary {
    background: #F15B22;
    border-radius: 5px;
    border: 0;
    width: 160px;
    height: 64px;
    float: right;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;

}

/* main */

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;

}

.main-description {
    width: 416px;
    height: 404.81px;
}

.main-description-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding-bottom: 25px;
}

.desc-1 {
    padding-bottom: 22px;
}

.main-ul {}

.main-ul li {
    list-style: none;
}

.main-ul li:before {
    content: '✓';
    padding-right: 10px;
    color: #16D887;
}

/* main-2 */

.main-2 {
    display: flex;
    justify-content: space-around;
}

.my-plans {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
    padding-bottom: 50px;
}

.i-want {
    font-size: 25px;
    text-align: center;
    color: #737272;
}

.head {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
}

.sub-div {
    text-align: center;
    padding-bottom: 130px;
}